.floatright {
	float: right;
}
.floatleft {
	float: left;
}


#container {
	width: 906px;
}


body { font-family:Arial, Helvetica, sans-serif;
	text-align: left;
}

.clearfloat {
	font-size: 1px;
	line-height: 0px;
	clear: both;
	height: 0px;
}


blockquote {
	margin-left: 15px;
	margin-top: 0px;
	margin-bottom: 0px;
	margin-right: 0px;
}

.submenu {
	margin-left: 2em;
	margin-top: 75px;
	width: 200px;
}
.submenu a, .submenu a:visited {
	font-size: 85%;
	font-weight: bold;
	color: #002F2D;
	text-decoration: none;
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #002F2D;
	display: block;
	padding-top: 4px;
	padding-right: 4px;
	padding-bottom: 8px;
	padding-left: 4px;
}
.submenu a:hover {
	font-size: 85%;
	font-weight: bold;
	color: #006666;
	text-decoration: none;
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #002F2D;
	display: block;
	padding-top: 4px;
	padding-right: 4px;
	padding-bottom: 8px;
	padding-left: 4px;
}
.submenu p {
	line-height: .75em;
	font-size: 90%;
}
#rightcol {
	width: 406px;
        float: right;
	/* margin-left: 50%; */
}
.rightcol p {
}

#leftcol {
	width: auto;
	/* clear: right; */
	float: left;
	margin-right: 20px;
}


.subhead {
	font-size: 24px;
	font-weight: bold;
	color: #002F2D;
	text-align: center;
	margin-left: 1em;
}

.layer {
	margin: 0;
	padding: 0;
	}
	
.heading {
	font-weight: bold;
	color:#002F2D;
	background-color:#FFFFFF;
	position: relative;
	cursor: pointer;
	background-image: url(images/arrow_dn.gif);
	background-position: right;
	background-repeat: no-repeat;
	padding: 3px;
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #002F2D;
}

.content {
	width: 100%;
	margin-left: 1em;
}
#rightcol p {
	font-size: 90%;
	line-height: 1.25em;
}

img#logo {
    width: 366px;
    height: 115px;
}
#banner img {
    width: 195px;
    height: 607px;
    float: left;
}

@media screen and (max-width : 906px) {
    .floatright {
        float: none;
    }
    #container {
        width: auto;
    }
    .submenu {
        margin-left: 0em;
        margin-top: 1.5em;
    }
    #rightcol {
        float: none;
        width: auto;
        margin-left: 210px;
        margin-right: 3em;
    }
    img#logo {
        width: 100%;
        height: auto;
    }
    #leftcol {
        width: auto;
        float: none;
        margin-left: 210px;
    }
    #banner {
        position: absolute;
        left: 0.5em;
        top: 0.5em;
    }
}

@media screen and (max-width : 640px) {
    .floatright {
        float: none;
    }
    #container {
        width: auto;
    }
    .submenu {
        margin-left: 0em;
        margin-top: 1.5em;
    }
    #rightcol {
        float: none;
        width: auto;
        margin-left: 1em;
        margin-right: 1em;
    }
    #banner {
        position: static;
        margin-left: -40px;
        margin-top: 1.5em
    }
    #banner img {
        width: 97px;
        height: auto;
    }
    img#logo {
        width: 100%;
        height: auto;
    }
    #leftcol {
        width: auto;
        float: none;
        margin-left: 60px;
    }
}